*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.288);
}

.center{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
  padding-top: 4px;
}

html,body{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

header{
  height: 200px;
}


.logo{
  width: 70px;
}

.menu{
  width: 50%;
  text-align: right;
}

.menu a {
  color: black;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  margin-left: 15px;
}

.menu a:hover{
  color: #00884f;
}

.text-flex{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 6%;
}

section.sobre{
  height: calc(100% - 200px);
  position: relative;
}

.extras{
  position: absolute;
  bottom: -400px;
  right: -200px;
  width: 600px;
  height: 330px;
  border-radius: 0%;
  background-color: #017143;

}

.social-media{
  position: absolute;
  right: 370px;
  top: 100px;
}

.social-media img{
    display: block;
    width: 60px;
    margin: 60px 0;
}

.about-text{
  margin-top: 10px;
}

.about-text h1{
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

.about-text p{
  max-width: 500px;
  font-size: 15px;
  font-weight: bold;
}

.about-text button{
  background-color: #017143;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  border: none;
  font-size: 25px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: 'Dongle', sans-serif;
}

.about-text button:hover{
  background-color:#017143;
  animation-name: greenPointer;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes greenPointer{
  100%{
    background-color:#004b2c;
  }
}

.about-text p {
  font-family: 'Dongle', sans-serif;
  font-size: 25px;
  line-height: 25px;
}

.coffeeImage{
  width: 350px;
}

.extras{
  position: absolute;
  bottom: -370px;
  right: -350px;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #017143;

}

@media (max-width: 400px) {
  html,body{
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  header{
    height: 100px;
  }

  .navBox{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.288);
  }

  .menu{
    width: 100%;
  }

  .extras{
    position: absolute;
    bottom: -400px;
    right: -360px;
    width: 600px;
    height: 300px;
    border-radius: 0%;
    background-color: #ffffff;
  }

  .coffeeImage{
    position: relative;
    width: 200px;
    right: 50px;
  }

  .social-media img{
    display: block;
    width: 40px;
    margin: 10px 0;
}
}
